<div class="row">
  <div class="col">
    <h3>
      CENTEL
      <small class="text-muted">Systems administrator</small>
    </h3>
    <footer class="blockquote-footer">- April 2013 &rarr; June 2014 - <cite title="1 year 2 months">1 year 2 months</cite></footer>
    <span class="badge badge-pill badge-tech">ruby</span>
    <span class="badge badge-pill badge-tech">javascript</span>
    <span class="badge badge-pill badge-tech">php</span>
    <span class="badge badge-pill badge-tech">c#</span>
    <span class="badge badge-pill badge-tech">mysql</span>
    <span class="badge badge-pill badge-tech">mssql</span>
    <p></p>
    <ul>
      <li>In-house application development.</li>
      <li>Basic CISCO switching configuration.</li>
      <li>Network performance improvement</li>
      <li>Build a VoIP recorder in C#.</li>
    </ul>
  </div>
</div>
<hr>
