<div class="row">
  <div class="col">
    <h3>
      CESAVE
      <small class="text-muted">C# developer</small>
    </h3>
    <footer class="blockquote-footer">- August 2008 &rarr; June 2010 - <cite title="1 year 10 months">1 year 10 months</cite></footer>
    <span class="badge badge-pill badge-tech">c#</span>
    <span class="badge badge-pill badge-tech">wcf</span>
    <span class="badge badge-pill badge-tech">mssql</span>
    <span class="badge badge-pill badge-tech">asp-net</span>
    <span class="badge badge-pill badge-tech">windows-forms</span>
    <p></p>
    <p class="lead">
      I worked as a freelancer to build an application for issuing planting permits.
    </p>
    <p>
      CESAVE (Comité Estatal de Sanidad Vegetal) started building a series of applications to better monitoring sowing fields across the territory. The idea took relevance among other states of México and I was hired to build some of there services at a major scale.
    </p>
    <h4>PUS: Permiso Único de Siembra</h4>
    <p>
      My project was an offline application that eventually synchronized the local information with different offices across the country. This was so to avoid one producers from issuing multiple permits for planting under the same sowing field, which is then used to get access to monetary resources from the government.
    </p>
    <p>
      We first consolidated multiple databases (Visual Fox Pro databases) into a master and a couple of slaves MSSQL databases. Then we distributed a desktop application for the local offices to use the system now with a synchronized database.
    </p>
    <p>
      Some rural offices had no internet access at all times, but the process of issuing permits could not stop. That's why we used Microsoft Synchronization Services in order to eventually sync all the information from multiple sources.
    </p>
    <p class="text-right">
      <a class="btn btn-primary" href="/work/cesave/pus">Learn more about PUS</a>
    </p>
  </div>
</div>
