<div class="row">
  <div class="col">
    <h3>
      <a href="http://dub5.com" target="_blank">Dub5</a>
      <small class="text-muted">Ruby and Objective-C developer</small>
    </h3>
    <footer class="blockquote-footer">July 2015 &rarr; March 2017 - <cite title="1 year and 9 months">1 year and 9 months</cite></footer>
    <span class="badge badge-pill badge-tech">ruby</span>
    <span class="badge badge-pill badge-tech">objective-c</span>
    <span class="badge badge-pill badge-tech">elixir</span>
    <span class="badge badge-pill badge-tech">ruby-on-rails</span>
    <span class="badge badge-pill badge-tech">postgresql</span>
    <p></p>
    <p class="lead">
      <strong>Dub5</strong> was a Canadian start up.
    </p>
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="card">
          <img class="img-fluid card-img-top" alt="We were living in a chimney" src="/assets/images/dub5.jpg"/>
          <div class="card-body">
            <p class="card-text">
              Our office was a chimney.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-7">
        <p>
          At Dub5 we were building two products: <a href="https://chopeo.mx/" target="_blank">Chopeo</a> and the <a href="http://dub5.com" target="_blank">Dub5 POS</a>.
        </p>
        <h4>Dub5: An intelligent and gamified POS</h4>
        <p>
          I was part of the team that created the initial version of the POS. The application was offline-first so there were no need for internet access for the application to work. Once the app was online, a synchronization was made with the backend API.
        </p>
        <p>
          The backend database was organized using multitenancy with different schemas per client.
        </p>
        <p>
          We implemented the protocols for communicating with different printers and barcode scanners.
        </p>
        <p>
          Apart from the application itself, we also built an administration interface for clients, where they could manage users (cashiers) and the performance of each teller individually as well as the overall performance.
        </p>
        <p class="text-right">
          <a class="btn btn-primary" href="/work/dub5/pos">Learn more about Dub5 POS</a>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
