<div class="row">
  <div class="col">
    <h3>
      Periódico Expreso
      <small class="text-muted">PHP developer</small>
    </h3>
    <footer class="blockquote-footer">- June 2010 &rarr; September 2012 - <cite title="1 year 10 months">1 year 10 months</cite></footer>
    <span class="badge badge-pill badge-tech">php</span>
    <span class="badge badge-pill badge-tech">joomla</span>
    <span class="badge badge-pill badge-tech">mysql</span>
    <span class="badge badge-pill badge-tech">zend-framework</span>
    <span class="badge badge-pill badge-tech">javascript</span>
    <p></p>
    <ul>
      <li>Implementation of the first newspaper version using Joomla. We switched from a custom developed system that was not intended to cope with the amount of content over the years.</li>
      <li>Creation of the first online printed-edition section using vanilla JavaScript.</li>
    </ul>
  </div>
</div>
<hr>
