<br>
<div class="row">
  <div class="col-sm-8">
    <p class="lead">
      Hi!,
      <br>
      I'm a passionate developer from Mexico City.
      Over the last few years I've been helping people grow their business building different applications.
      I've been involved in building e-commerce solutions, from the very first line of a POS system to an online store in the cloud.
      <br>
      Here I have selected some of what I consider my most relevant work over the years with a more in-depth explanation about the process.
    </p>
    {{include "home/tldr"}}
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img src="/assets/images/samacs.jpg" alt="Saul Martínez" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">Saul Martínez</h3>
        <h4 class="card-subtitle mb-2 text-muted">Backend developer</h4>
        <hr>
        <ul class="list-unstyled">
          <li><strong>Email:</strong> <a href="mailto:saul.martinez05@gmail.com">saul.martinez05@gmail.com</a></li>
          <li><strong>Phone:</strong> <a href="tel:+525583401360">+52 (553) 340 1360</a></li>
          <li><strong>Location:</strong> <a href="https://www.timeanddate.com/worldclock/mexico/mexico-city" target="_blank">México City, CDT, UTC -5</a></li>
          <li><strong>Resume:</strong> <a href="/download/saul_martinez-resume.pdf">Saul Martínez</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
