<div class="row">
  <div class="col">
    <h3>tl;dr</h3>
    <ul>
      <li>
        Personal projects
        <ul>
          <li>
            <a href="/work/personal/cortito">Cortito URL shortener</a>
          </li>
            <li>
                <a href="/work/personal/robottle">Robottle IoT platform</a>
            </li>
        </ul>
      </li>
      <li>
        Work at Ösom
        <ul>
          <li>
            <a href="/work/osom/amazon">Amazon integration</a>
          </li>
          <li>
            <a href="/work/osom/shopify">Shopify integration</a>
          </li>
        </ul>
      </li>
      <li>
        Work at Dub5
        <ul>
          <li><a href="/work/dub5/pos">Dub5 POS</a></li>
        </ul>
      </li>
      <li>
        Work at Hello Code
        <ul>
          <li><a href="/work/hellocode/barber-shop">Barber shop system</a></li>
          <li><a href="/work/hellocode/toven">Toven: POS metrics</a></li>
        </ul>
      </li>
      <li>
        Work at Periódico Expreso
        <ul>
          <li><a href="/work/expreso/newspaper">Periódico Expreso</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
