<footer class="container py-5">
  <hr>
  <div class="row">
    <div class="col-12 col-md">
      <p>
        <strong>Saul Martínez</strong>
        <small class="d-block mb-3 text-muted">{{year}}</small>
      </p>
    </div>
    <div class="col-6 col-md">
      <h5>Social</h5>
      <ul class="list-unstyled text-small social-icons">
        <li>
          <a href="https://github.com/samacs">
            <i class="fab fa-github"></i> My Github repositories
          </a>
        </li>
        <li>
          <a href="https://twitter.com/samacs">
            <i class="fab fa-twitter"></i> My Twitter account
          </a>
        </li>
        <li>
          <a href="https://github.com/coderosoio">
            <i class="fab fa-github"></i> This site code
          </a>
        </li>
        <li>
          <a href="https://facebook.com/samacs">
            <i class="fab fa-facebook"></i> My Facebook account
          </a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Contact</h5>
      <ul class="list-unstyled text-small">
        <li><a href="mailto:saul.martinez05@gmail.com">saul.martinez05@gmail.com</a></li>
        <li><a href="tel:526621292744">+52 (662) 128 2744</a></li>
        <li><a href="https://www.timeanddate.com/worldclock/mexico/mexico-city" target="_blank">México City, CDT, UTC -5</a></li>
        <li><a href="Resume - Saul Martínez.docx">Resume</a></li>
      </ul>
    </div>
  </div>
</footer>
