<footer class="container py-5">
  <hr>
  <div class="row">
    <div class="col-12 col-md">
      <p>
        <strong>Saul Martínez</strong>
        <small class="d-block mb-3 text-muted">{{year}}</small>
      </p>
    </div>
    <div class="col-6 col-md">
      <h5>Contact</h5>
      <ul class="list-unstyled text-small">
        <li><a href="mailto:saul.martinez05@gmail.com">saul.martinez05@gmail.com</a></li>
        <li><a href="tel:526621292744">+52 (662) 128 2744</a></li>
        <li><a href="https://www.timeanddate.com/worldclock/mexico/mexico-city" target="_blank">México City, CDT, UTC -5</a></li>
      </ul>
    </div>
  </div>
</footer>
